body {
  font-family: var(--text);
  color: var(--foreground);
  background-color: var(--background);
  font-size: var(--font-base);
  line-height: var(--leading-6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}

code {
  font-family: var(--monospace);
}

hr {
  margin-block: 48px;
  border: none;
  border-top: 1px solid var(--border);
}

:focus {
  outline-offset: 3px;
  outline-color: var(--ring);
  outline-width: 2px;
}

.redimension {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0.700rem;
}

.lista li:hover::marker{
  color: rgb(255, 0, 0);
}

.text-fondo {
  background-color: transparent; 
  transition: background-color 0.3s ease; 
}

.text-fondo:hover {
  background-color: hsl(0, 5%, 74%); 
}

.scale-transform:hover {
  transform: scale(1.05);
}

.margin2 {
  margin-bottom: 3.5rem;
 }

.enlace a, .backg a {
  background-color: hsla(0, 1%, 41%, 0.279);
  color: hsl(0, 0%, 0%);
}

.enlace:hover a {
  color: hsl(291, 100%, 32%);
}